@tailwind components;
@tailwind utilities;

html {
  font-size: 14.5px;
}

body {
  background-color: #ffffff;
  font-family: "Urbanist";

  font-weight: 500;
}

#root {
  max-width: 100vw;
  /* overflow-x: hidden; */
}

@layer utilities {
  .tc {
    @apply transition-colors;
  }

  .ta {
    @apply transition-all;
  }

  .feedback {
    @apply cursor-pointer transition-colors hover:bg-black/10;
  }
}

@layer components {
  .d {
    @apply bg-red-400;
  }

  .d2 {
    @apply bg-green-400;
  }

  .d3 {
    @apply bg-purple-400;
  }

  .d4 {
    @apply bg-yellow-600;
  }

  .app-container {
    --app-max-width: 1330px;
    max-width: var(--app-max-width);
    @apply mx-auto px-7;
  }
}
